.App {
  text-align: center;
}

.component__employee-card {
   width: 500px;
   height: 200px;
   margin: 5px;
   background: white;
   filter: drop-shadow(1px 1px 1px black);
}
.component__employee-card > img {
   width: 150px;
   height: 150px;
   float: left;
   margin: 5px;
}
